.contenedor{
    height: 20vh; 
}
.botones{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.listasNombres{
    display: flex;
    justify-content: space-around;
    margin-top: 500px;

}
.lista{
    width: 40%;
    height: 70vh;
    border: solid black 1px;
}
.imagen-bus{
    
    animation-name: matar;
    width: 45%;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    margin-top: 10px;
    
}

.hombre-caminando{
    width: 40%;
    margin-top: -30px;
    animation-name: morir;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-direction: reverse;
    position: relative;
    margin-bottom: 18px;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes matar{
   from{transform : translate(185px,0);} 
}
@keyframes morir{
    from{transform : translate(77px,0);} 
 }