@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


.main-game {
    display: flex;
    flex-direction: column;
}
.contenedor{
    height: 33vh; 
    display: flex;
    flex-direction: column;
}
.botones{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.listasNombres{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}
.lista{
    width: 40%;
    height: 55vh;
    background-color: mintcream;
    border: solid black 1px;
}

.boton-siguiente{
    margin-top: 30px;
    
}

.imagen-bus{
    margin-left: -50vh;
    width: 90%;
    margin-bottom: 2vh;
}


.hombre-caminando{
    display: none;
    width: 40%;
    margin-bottom: 8px;
    margin-left: 170px;
    z-index: -1;

}

.main-caracter {
    width: 100%;
    height: auto;
    margin-left: 7vh;
    z-index: -1;
}

.main-ending{
    background: linear-gradient(179.83deg, #0D0D0D 0.12%, rgba(13, 13, 13, 0) 238.79%);
}

body{
    background: linear-gradient(179.83deg, #0D0D0D 0.12%, rgba(13, 13, 13, 0) 238.79%);
}


.start-game-btn{
    width: 16vh;
    height:6vh;
    border-radius: 2vh;
    margin-top: 10vh;
}

.main-landing{
    height: 100vh;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.ending-page{
    height: 100vh;
    width: 100vh;
    justify-items: center;
    text-align: center;
    
}






/*class endingPage5*/



.section-endingpage-5 {
    display : flex;
    flex-direction : column;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    color : #BF8C4D;
    
}

.title-endingPage-5 {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 10px;
    font-style: normal;
    text-decoration: underline wavy;
}

.article-solo-endingpage-5 {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 10px;
        
}

.paragraf-endingPage-5 {
    font-size: 25px;}

.button-start-killing-again {
    width: 150px;
    margin-top: 7px;
    font-family: 'Press Start 2P', cursive;
    

    width: 158px;
    height: 63px;
    left: calc(50% - 158px/2 + 0.5px);
    top: calc(50% - 63px/2 + 194.5px);

    background: #BF8C4D;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 26px;

}

.main-endinPage-5 {
    align-content: center;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}