@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');



.main-game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body{
    background: linear-gradient(179.83deg, #0D0D0D 50.85%, rgba(13, 13, 13, 0) 200.02%);
    margin: 0px;
    padding: 0px;
}

.header-main-game{
width: 100%;
display: flex;
justify-content: space-between;
margin-top: 20px;
height: 6vh;
}

.imagen-bus-main-game{
    width: 10%;
    margin-left: 15px;
    transform: matrix(0.96, -0.24, 0.27, 0.97, 0, 0);
}

.btn-kill{
    width: 100px;
    height: 35px;
    margin-left: 75px;
    border-radius: 12px;
    color: #EFC590;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    background-color: #8C8080;
    z-index: 1;
}

.btn-restart{
    width: 100px;
    height: 35px;
    margin-right: 15px;
    border-radius: 12px;
    color: #EFC590;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    background-color: #8C8080;
    z-index: 1;
}

.boton-siguiente{
    margin-top: 30px;
    width: 150px;
    border-radius: 12px;
    color: #EFC590;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    background-color: #8C8080;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 10px;
    

}

.contenedor{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
.botones{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.listas-nombres{
    width: 96%;
    display: flex;
    justify-content: space-around;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    margin-top: 10px;
}

.cabeza-viva{
    margin-top: -80px;
    margin-bottom: 10px;
    }
.cabeza-muerta{
        margin-top: -80px;
        margin-bottom: 10px;
}

.lista-vivos{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    line-height: 30px;
    background-color: #8C8080;
    width: 38%;
    border: solid black 1px;
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1em;
}

.lista-purgatorio{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    line-height: 30px;
    background-color: #595959;
    width: 38%;
    border: solid black 1px;
    color: #EFC590;
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1em;
}

.mancha-de-sangre{
width: 80%;
filter: opacity(60%);
position: absolute;
}

.purgatorio{
    z-index: 1;
}

.imagen-bus{
    margin-left: -50vh;
    width: 90%;
    margin-bottom: 2vh;
}



.main-caracter {
    width: 100%;
    height: auto;
    margin-left: 7vh;
    z-index: -1;
    margin-top: -280px;
}

.main-ending{
    display: flex;
    flex-direction: column;
    background: linear-gradient(179.83deg, #0D0D0D 0.12%, rgba(13, 13, 13, 0) 238.79%);
    width: 100%;
}


.main-ending{
    background: linear-gradient(179.83deg, #0D0D0D 0.12%, rgba(13, 13, 13, 0) 238.79%);
}
.ending-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-items: center;
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
}

.felicitaciones {
    margin-top: 5vh;
}



.nuestra-lista-nombres {
    text-align: right;
    margin-right: 1vh;
}

.nuestra-lista-descripciones {
    text-align: left;
    margin-left: 1vh;
}

.katchup{
    margin-top: 5vh;
}

.heinz {
    width: 40vh;
}

.heiz-texto {
    margin-top: 3vh;
    font-size: xx-large;
}

.sangre-atras{
    position: absolute;
    width: 45vh;
    height: 50vh;
    z-index: 0;
    margin-top: 30vh;
}

.section-endingpage-5 {
    display : flex;
    flex-direction : column;
    text-align: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    color : #BF8C4D;
    
}

.title-endingPage-5 {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 10px;
    font-style: normal;
    text-decoration: underline wavy;
}

.main-endingPage-5 {
    align-content: center;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    z-index: 1;
    height: 100vh;
}

.main-landing{
    height: 100vh;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.carretera{
    position: absolute;
    height: 100vh;
    z-index: -1;
}

.bus-landing{
    position: absolute;
    transform: rotate(-14.63deg);
    top: 5vh;
    width: 100%;
}

.bloodTransparent{
    position: absolute;
    width: 57vh;
    height: 52vh;
    left: -6vh;
    top: 36vh;
    z-index: 1;
}

.start-game-btn{
    position: absolute;
    width: 135px;
    height: 56px;
    left: 37%;
    margin-top: 550px;
    background: #262626;
    border: 1px solid #000000;
    border-radius: 26px;
    font-size: 30px;
    line-height: 21px;
    text-align: center;
    color: #EFC590;
    font-family: 'Amatic SC', cursive;
}

.pegi-info{
    width: 7vh;
    margin-top: 85vh;
    margin-right: 30vh;
}



@media (min-device-width: 800px) {

    .main-landing{
        height: 100vh;
        position: relative;
        display:flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width: 70%;
        margin-left: 0px !important;
    }
    .bus-landing{
        margin-top: 0px !important;
        position: absolute;
        transform: rotate(-14.63deg);
        width: 65% !important;
        
    }   
    .carretera{
        position: absolute;
        height: 120vh;
        z-index: -1;
        width: 102%;
        margin-left: 0px !important;
        
    }
    .bloodTransparent{
        position: absolute;
        width: 80vh;
        height: 52vh;
        left: 115px;
        top: 47vh;
        z-index: 1;
    
    }
        
    .start-game-btn{
        position: absolute;
        z-index: 1;
        width: 148px;
        height: 65px;
        margin-top: 350px !important;
        margin-left: 420px !important;
        background: #EFC590;
        border: 1px solid #000000;
        border-radius: 26px;
        font-size: 34px;
        line-height: 21px;
        text-align: center;
        color: #262626;
        font-family: 'Amatic SC', cursive;
    }
    
    .pegi-info{
        width: 11%;
        margin-top: 85vh;
        margin-right: 575px;
    }

    
    

    .header-main-game{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    height: 15vh;
    }

    .btn-kill{
        width: 100px;
        height: 35px;
        margin-left: 75px;
        border-radius: 12px;
        color: #EFC590;
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        background-color: #8C8080;
    }
    .btn-restart{
        width: 100px;
        height: 35px;
        margin-right: 25px;
        border-radius: 12px;
        color: #EFC590;
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        background-color: #8C8080;
    }

    .imagen-bus-main-game{
        width: 8%;
        margin-left: 25px;
        transform: matrix(0.96, -0.24, 0.27, 0.97, 0, 0);
    }

    .listas-nombres{
        width: 50%;
        display: flex;
        justify-content: space-around;
        font-family: 'Amatic SC', cursive;
        font-size: 24px;
        margin-top: 195px;
        z-index: 1;
        position: absolute;
    }

    .animacion-choque {
        width: 69%;
    margin-left: 520px;
        
    }

    .imagen-bus{
        width: 104%;
    margin-bottom: 6px;
    z-index: 1;

    margin-left: -1300px;
        
    }

    .main-caracter {
        width: 75%;
    height: auto;
    margin-left: 500px;
    z-index: -1;

    }

   

    .imagen-bus-animation{
        animation-name: matarResponsive;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-direction: reverse;
        animation-fill-mode: both; 
    }

    


    .boton-siguiente{
        margin-top: 30px;
        width: 150px;
        height: 55px;
        border-radius: 12px;
        color: #8C8080;
        font-family: 'Amatic SC', cursive;
        font-size: 32px;
        background-color:  #EFC590;
        margin-left: 708px;
        margin-top: 100px;
        
        
    
    }

    .btn-kill{
        width: 150px;
        height: 55px;
        margin-left: 386px;
        border-radius: 12px;
        color: #8C8080;
        font-family: 'Amatic SC', cursive;
        font-size: 32px;
        background-color:  #EFC590;
    }

    .btn-restart{
        width: 150px;
        height: 55px;
        margin-right: 37px;
        border-radius: 12px;
        color: #8C8080;
        font-family: 'Amatic SC', cursive;
        font-size: 32px;
        background-color:  #EFC590;
    }

    .mancha-de-sangre{
        width: 80%;
        filter: opacity(60%);
        position: absolute;
        margin-top: -115px;
    }

    .ending-page{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
        width: 100%;
        justify-items: center;
        text-align: center;
        color: white;
        font-family: 'Amatic SC', cursive;
        z-index: 1;
    }
    
    .section-endingpage-5 {
        display : flex;
        flex-direction : row;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
        color : #BF8C4D;
        
    }

    .title-endingPage-5 {
        font-size: 35px;
        font-weight: bolder;
        margin-top: 25px;
        margin-bottom: 10px;
        font-style: normal;
        text-decoration: underline wavy;
    }
    .columna1{
        width: 50%;
    }
    .columna2{
        width: 50%;
    }



}

@media (min-device-width: 374px){

    .start-game-btn{
        position: absolute;
        width: 135px;
        height: 56px;
        left: 37%;
        margin-top: 690px;
        background: #262626;
        border: 1px solid #000000;
        border-radius: 26px;
        font-size: 30px;
        line-height: 21px;
        text-align: center;
        color: #EFC590;
        font-family: 'Amatic SC', cursive;
        z-index: 1;
    }
}