body{
    background-color:orange;
}
.main-game {
    display: flex;
    flex-direction: column;
}
.contenedor{
    height: 33vh; 
    display: flex;
    flex-direction: column;
}
.botones{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.listasNombres{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}
.lista{
    width: 40%;
    height: 55vh;
    background-color: mintcream;
    border: solid black 1px;
}

.boton-siguiente{
    margin-top: 30px;
    
}

.imagen-bus{
    margin-left: -50vh;
    width: 90%;
    margin-bottom: 2vh;
}


.hombre-caminando{
    display: none;
    width: 40%;
    margin-bottom: 8px;
    margin-left: 170px;
    z-index: -1;

}

.main-caracter {
    width: 100%;
    height: auto;
    margin-left: 7vh;
    z-index: -1;
}


.main-landing{
    height: 100vh;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}

.ending-page{
    height: 100vh;
    width: 100vh;
    justify-items: center;
    text-align: center;
    
}


.carretera{
    position: absolute;
    height: 100vh;
    z-index: -1;
}

.bus-landing{
    position: absolute;
    transform: rotate(-14.63deg);
    top: 5vh;
}

.bloodTransparent{
    position: absolute;
    width: 57vh;
    height: 52vh;
    left: -6vh;
    top: 36vh;
    z-index: 1;
}

.start-game-btn{
    position: absolute;
    width: 135px;
    height: 56px;
    left: calc(50% - 135px/2 + 8px);
    margin-top: 185%;
    background: #262626;
    border: 1px solid #000000;
    border-radius: 26px;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #EFC590;
}

.pegi-info{
    width: 7vh;
    margin-top: 85vh;
    margin-right: 30vh;
}

